<h1>Mia Finder Example!</h1>

<mia-breadcrumb *ngIf="finderSelected" [finder]="finderSelected" [topId]="1" (clickFolder)="onClickFolder($event)"></mia-breadcrumb>

<button (click)="onClickNewFolder()">New Folder</button>
<button (click)="onClickNewFileLink()">New File with link</button>
<button (click)="onClickChangeName()">Change name</button>

<input #inputFile type="file" (change)="onUploadEvent($event)" style="display: none;" accept="image/png, image/jpeg" />
<button (click)="inputFile.click();">Upload file</button>

<mia-finder-table #tableComp *ngIf="finderSelected" [tableConfig]="tableConfig" (clickItem)="onClickItem($event)"></mia-finder-table>

<mia-uploading></mia-uploading>
